@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

.navbar-section {
  font-family: Helvetica;
}
.nav-main {
  padding: 20px 0;
  font-size: 0.85rem;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 100;
  font-family: Helvetica;
  border-bottom: 1px solid black;
}
.logo-navbar-lg {
  height: 65px;
  margin-left: 50px;
}
@media (max-width: 992px) {
  .logo-navbar-lg {
    height: 50px;
    margin-left: 0;
  }
}
.nav-ser {
  width: max-content;
  padding: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 10000;
  background-color: white;
  top: 70px;
  left: -50px;
}
.nav-ser-ser {
  display: flex;
  gap: 60px;
}
.ser-dropdown {
  display: none;
}
.nav-link {
  font-size: 0.9rem;
}
@media (max-width: 992px) {
  .nav-ser-main {
    display: none;
  }
  .ser-dropdown {
    display: block;
  }
}
.nav-link {
  color: rgba(47, 47, 47, 1);
  font-family: Helvetica;
  margin: 0 10px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  font-weight: bold;
  .bottom-arr {
    font-weight: bold;
  }
}
.nav-button {
  background-color: rgba(59, 168, 189, 1);
  border: none;
  color: rgba(47, 47, 47, 1);
  font-size: 1rem;
  border-radius: 8px;
  font-family: Helvetica;
  padding: 7px 25px;
}
.nav-button:hover {
  background: linear-gradient(0, #30216e, #641097);
  border: none;
  color: white;
}

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler.custom-class .navbar-toggler-icon {
  color: #ff0000;
}
.dropdown-menu {
  /* border: none; */
  font-size: 0.95rem;
}
.dropdown-item:hover {
  background-color: #641097;
  color: white;
}
.dropdown-menu .dropdown-item {
  padding: 10px 20px;
}
@media (max-width: 1054px) {
  .nav-link {
    margin: 0 5px;
  }
}
@media (max-width: 992px) {
  .nav-main {
    /* text-align: center; */
  }
  .nav-drop-w .dropdown-menu {
    /* text-align: center; */
    background-color: transparent;
    color: white;
    padding-left: 40px;
    font-size: 1.2rem;
    border: none;
  }
  .nav-drop-w .dropdown-item {
    color: white;
    border-bottom: 1px solid grey;
    border-radius: 5px;
  }
  .nav-link.show {
    color: white !important;
  }
  .nav-drop-w .dropdown-item:hover {
    background-color: white;
    color: black;
  }
  .nav-button {
    margin: auto;
  }
}
@media (max-width: 500px) {
  .nav-main {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.show {
  /* color: white; */
}
.show .nav-link {
  color: white;
  font-size: 1.2rem;
  padding-left: 30px;
  margin: 10px 0;
}
.show .nav-button {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 1.2rem;
  padding: 10px 50px;
}
.navbar-col {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #30216e;
  z-index: 2000;
  color: white;
}
.cross-nav {
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 20px;
  right: 25px;
}
.cross-nav:hover {
  color: rgba(255, 0, 0, 0.775);
}
@media (max-width: 500px) {
  .nav-top-col {
    transform: scale(0.85);
    margin-left: -30px;
  }
}
@media (max-width: 400px) {
  .nav-top-col {
    transform: scale(0.75);
    margin-left: -50px;
  }
}
